html{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    margin-left: 0px;
    margin-right: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.country{
    font-family: sans-serif;
}

.footer-nav{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    height: 50%;
    padding-top: 16px;
    background: #f2f2f2;
    padding-left: 8px;
    padding-right: 8px;
}

.footer-left{
    
}

.footer-right{

}

.nav{
    float: right;
    font-family: sans-serif;
}

.nav button{
    background-color: #1a8cff;
    font-size: 18px;
    color: white;
    margin: 10px;
    font-family: sans-serif;
    
}

.logo-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.logo{
    width: 550px;
    height: 300px;
}

.box{
    width: 100%;
    margin: 0px auto;
    text-align: center;
    max-width: 600px;
    height: 60px;
   
}

.rounded-border{
    border-style: solid;
    border-color: #5F6368;
    border-width: thin;
    border-radius: 100px;
    height: 40px;
    padding-left: 12px;
    margin-bottom: 12px;
}


.button-container{
        font-family: sans-serif;
        margin-bottom: 12px;
}

.button{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    outline: none;
}

.lang{
    font-family: sans-serif;
}

.form{
    width: 94%;
    border-radius: 100px;
    border: none;
    
}

.input{
    width: 100%;
    border-radius: 100px;
    border: none;
    outline: none;
    height: 32px;
}

#footer{
    height: 50%;
    border-bottom: 1px solid#5F6368;
    padding-top: 16px;
    padding-left: 8px;
}

.top-section{
    height: 90%;
}

.bottom-section{
    height: 10%;
    background: #f2f2f2;
}


.normal-anchor{
    color: #5F6368;
}